body {
    font-family: 'Roboto', sans-serif;
    background-color: #bed8d8;
    margin: 0px;
    padding: 0px;
}

#menu {
    display: flex;
    justify-content: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#menu a {
    font-size: 1em;
    color: #1E4D55;
    text-decoration: none;
}

#menu a.active {
    font-weight: bold;
}

#menu a:visited {
    color: #1E4D55;
}

#menu a {
    margin-left: 1em;
    margin-right: 1em;
}

.content {
    max-width: 57em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    background-color: #ffffff;
}